<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.step.repository.MemberRepository">

  <resultMap type="member" id="memberMap">
    <id column="MNO" property="no"/>
    <result column="ID" property="id"/>
    <result column="EMAIL" property="email"/>
    <result column="PWD" property="password"/>
    <result column="MPT" property="mphoto"/>
  </resultMap>

  <insert id="insert" 
          parameterType="member">
    insert into ST_MEMB (ID,EMAIL,PWD,MPT) 
    values(#{id},#{email},password(#{password}),#{mphoto})
  </insert>
 
  <select id="findByIdAndPassword"
           parameterType="map"
           resultMap="memberMap">
      select MNO,EMAIL,MPT
      from ST_MEMB
      where ID=#{id} and PWD=password(#{password})      
  
  </select> 
 

 </mapper>